<h2><span>Die Differenz</span></h2>

<div class="col col-100">
	<p>
		Da der Fluss jeweils nur von der Differenz von Temperatur und Salzgehalt abhängt, können die vier Gleichungen auf zwei reduziert werden:
	</p>
	<p>
		Sei <span class="formula">T = T<sub>1</sub> &minus; T<sub>2</sub>, T<sub>0</sub> = T<sub>01</sub> &minus; T<sub>02</sub></span> und 
		<span class="formula">S = S<sub>1</sub> &minus; S<sub>2</sub>, S<sub>0</sub> = S<sub>01</sub> &minus; S<sub>02</sub></span>:
	</p>
	<p class="formula">
		<span class="fraction"><span class="enumerator">dT</span><span class="numerator">dt</span></span> =
		<span class="fraction"><span class="enumerator">dT<sub>1</sub></span><span class="numerator">dt</span></span> &minus;
		<span class="fraction"><span class="enumerator">dT<sub>2</sub></span><span class="numerator">dt</span></span> =
		k<sub>T</sub>(T<sub>0</sub> &minus; T) &minus; 2|q(T,S)|T
		<br>
		<span class="fraction"><span class="enumerator">dS</span><span class="numerator">dt</span></span> =
		<span class="fraction"><span class="enumerator">dS<sub>1</sub></span><span class="numerator">dt</span></span> &minus;
		<span class="fraction"><span class="enumerator">dS<sub>2</sub></span><span class="numerator">dt</span></span> =
		k<sub>S</sub>(S<sub>0</sub> &minus; S) &minus; 2|q(T,S)|S
	</p>
	<p class="formula">
		q(T,S) = a(b(T<sub>1</sub> &minus; T<sub>2</sub>) &minus; c(S<sub>1</sub> &minus; S<sub>2</sub>))
		= a(bT &minus; cS)
	</p>
</div>