<h2><span>Entdimensionalisierung</span></h2>

<div class="col col-100">

	<p>
		Sei
	</p>
	<p class="formula pull-back">
		<span class="tilde">T</span> = <span class="fraction"><span class="enumerator">T</span><span class="numerator">T<sub>0</sub></span></span> &#8658; T = <span class="tilde">T</span>&#x2219;T<sub>0</sub>
		<span class="quad"></span>
		<span class="tilde">S</span> = <span class="fraction"><span class="enumerator">S</span><span class="numerator">S<sub>0</sub></span></span> &#8658; S = <span class="tilde">S</span>&#x2219;S<sub>0</sub>
		<span class="quad"></span>
		<span class="tilde">t</span> = k<sub>T</sub>&#x2219;t &#8658; 
		t = <span class="fraction"><span class="enumerator"><span class="tilde">t</span></span><span class="numerator">k<sub>T</sub></span></span>
		<span class="quad"></span>
		<span class="tilde">q</span> = 2 <span class="fraction"><span class="enumerator">q</span><span class="numerator">k<sub>T</sub></span></span> &#8658; 
		q = <span class="fraction"><span class="enumerator"><span class="tilde">q</span>&#x2219;k<sub>T</sub></span><span class="numerator">2</span></span>
	</p>

	<p>
		so wird aus
	</p>
	<p class="formula pull-back">
		<span class="fraction"><span class="enumerator">dT</span><span class="numerator">dt</span></span> =
		k<sub>T</sub>(T<sub>0</sub> &minus; T) &minus; 2|q(T,S)|T
		<span class="quad"></span>
		<span class="fraction"><span class="enumerator">dS</span><span class="numerator">dt</span></span> =
		k<sub>S</sub>(S<sub>0</sub> &minus; S) &minus; 2|q(T,S)|S
		<span class="quad"></span>
		q(T,S) = a(bT &minus; cS)
	</p>

	<p>
		folgendes
	</p>
	<p class="formula pull-back">
		<span class="fraction"><span class="enumerator">d<span class="tilde">T</span></span><span class="numerator">d<span class="tilde">t</span></span></span> =
		(1 &minus; <span class="tilde">T</span>) &minus; |<span class="tilde">q</span>(<span class="tilde">T</span>,<span class="tilde">S</span>)|<span class="tilde">T</span>
		<span class="quad"></span>
		<span class="fraction"><span class="enumerator">d<span class="tilde">S</span></span><span class="numerator">d<span class="tilde">t</span></span></span> =
		&gamma;(1 &minus; <span class="tilde">S</span>) &minus; |<span class="tilde">q</span>(<span class="tilde">T</span>,<span class="tilde">S</span>)|<span class="tilde">S</span>
		<span class="quad"></span>
		<span class="tilde">q</span>(<span class="tilde">T</span>,<span class="tilde">S</span>) = &alpha;<span class="tilde">T</span> &minus; &beta;<span class="tilde">S</span>
	</p>

	<p>
		mit den Parametern
	</p>
	<p class="formula pull-back">
		&alpha; = 2
		<span class="fraction">
			<span class="enumerator">ab</span>
			<span class="numerator">k<sub>T</sub></span>
		</span>
		T<sub>0</sub>
		<span class="quad"></span>
		&beta; = 2
		<span class="fraction">
			<span class="enumerator">ac</span>
			<span class="numerator">k<sub>T</sub></span>
		</span>
		S<sub>0</sub>
		<span class="quad"></span>
		&gamma; = 
		<span class="fraction">
			<span class="enumerator">k<sub>S</sub></span>
			<span class="numerator">k<sub>T</sub></span>
		</span>
	</p>

	<p class="footnote">
		Auf den nächsten Folien wird die Unterscheidung von <span class="formula"><span class="tilde">X</span></span> und <span class="formula">X</span> nicht mehr gemacht, wobei jeweils die dimensionslose Variante angenommen wird.
	</p>

</div>