<h2><span>Fazit</span></h2>

<div class="col col-100">
	<ul>
		<li>
			Vereinfachungen
			<ul>
				<li>Wechselwirkungen zwischen Fluss und Umgebung</li>
				<li>Komplexität des Flusses</li>
			</ul>
		</li>
		<li>
			Aussagekraft der Modelle
			<ul>
				<li>mit realen Daten</li>
				<li>dimensionslos</li>
			</ul>
		</li>
		<li>
			Theorie zwar interessant aber die Aussagekraft über die Realität sehr gering
		</li>
		<li>
			Parameterfülle nur schwer fassbar
			<ul>
				<li>interaktiver Prototyp hilft</li>
				<li>die Sprache der Mathematik aber noch mehr</li>
			</ul>
		</li>
	</ul>
</div>