<h2><span>Der Fluss im Gleichgewicht</span></h2>

<div class="col col-100">
	<p>
		Sei
	</p>
	<p class="formula pull-back">
		g(q) =
		&alpha;
		<span class="fraction" style="width: 60px;">
			<span class="enumerator">1</span>
			<span class="numerator">1 + |q|</span>
		</span> &minus;
		&beta; <span class="fraction" style="width: 60px;">
			<span class="enumerator">&gamma;</span>
			<span class="numerator">&gamma; + |q|</span>
		</span>
	</p>

	<p>
		Also verändert sich der Fluss nicht, wenn gilt:
	</p>
	<p class="formula pull-back">
		q &minus; g(q) =<span class="stackrel">!</span> 0
	</p>

	<p>
		Für die weitere Rechnung erweitern wir die Funktion <span class="formula">g(q)</span> so, dass die Nullstellen zwar gleich bleiben aber die Brüche wegfallen:
	</p>
	<p class="formula pull-back">
		k(q) = (q &minus; g(q))(1 + q)(&gamma; + q) <br>
		= q<sup>3</sup> + q<sup>2</sup>(1 + &gamma;) + q(&gamma; + &beta;&gamma; &minus; &alpha;) + (&beta;&gamma; &minus; &alpha;&gamma;)
	</p>
</div>