<h2><span>Der Fluss</span></h2>

<div class="col col-100">
	<p>
		Der Fluss wird durch die Differenz der Dichte der beiden Meere beschrieben:
	</p>
	<p class="formula pull-back">
		q = a(&rho;<sub>2</sub> &minus; &rho;<sub>1</sub>)
	</p>


	<p>
		Die Dichte wiederum ist abhängig<sup>*</sup> von Temperatur und Salzgehalt:<br>
		<span class="footnote"><sup>*</sup> für das Modell wird ein linearer Zusammenhang angenommen</span>
	</p>
	<p class="formula pull-back">
		&rho;<sub>i</sub> = &rho;<sub>0</sub> &minus; bT<sub>i</sub> + cS<sub>i</sub> <span class="quad"></span> i = 1,2
	</p>

	<p>
		Zusammengesetzt ergibt das:
	</p>
	<p class="formula pull-back">
		q(T,S) = a(&rho;<sub>2</sub> &minus; &rho;<sub>1</sub>)
		= a(&rho;<sub>0</sub> &minus; bT<sub>2</sub> + cS<sub>2</sub> &minus; (&rho;<sub>0</sub> &minus; bT<sub>1</sub> + cS<sub>1</sub>)) <br>
		= a(b(T<sub>1</sub> &minus; T<sub>2</sub>) &minus; c(S<sub>1</sub> &minus; S<sub>2</sub>))
	</p>

	
</div>