<h2><span>Der Fluss im Gleichgewicht</span></h2>

<div class="col col-100">
	<p>
		Sei
	</p>
	<p class="formula pull-back">
		g(q) =
		&alpha;
		<span class="fraction" style="width: 60px;">
			<span class="enumerator">1</span>
			<span class="numerator">1 + |q|</span>
		</span> &minus;
		&beta; <span class="fraction" style="width: 60px;">
			<span class="enumerator">&gamma;</span>
			<span class="numerator">&gamma; + |q|</span>
		</span>
	</p>

	<p>
		Also verändert sich der Fluss nicht, wenn gilt:
	</p>
	<p class="formula pull-back">
		q &minus; g(q) =<span class="stackrel">!</span> 0
	</p>

	<p>
		Für die weitere Rechnung erweitern wir die Funktion <span class="formula">k(q)</span> so, dass die Nullstellen zwar gleich bleiben aber die Brüche wegfallen. Aufgrund der Beträge unterscheiden wir zwei Fälle:
	</p>
</div>
<div>
	<div class="col col-50">
		<p class="formula pull-back">
			<span class="underline"><span class="textrm">Fall</span> q &gt; 0</span><br>
			k(q) = (q &minus; g(q))(1 + q)(&gamma; + q)
			<!--q<sup>3</sup> + q<sup>2</sup>(1 + &gamma;) + q(&gamma; + &beta;&gamma; &minus; &alpha;) + (&beta;&gamma; &minus; &alpha;&gamma;)-->
		</p>
	</div>
	<div class="col col-50">
		<p class="formula pull-back">
			<span class="underline"><span class="textrm">Fall</span> q &lt; 0</span><br>
			k(q) = (g(q) &minus; q)(1 &minus; q)(&gamma; - q)
		</p>
	</div>
</div>