<h2><span>Gleichgewichtsuntersuchung</span></h2>

<div class="col col-100">
	<p>
		Das System ist im Gleichgewicht, wenn folgendes gilt:
	</p>
	<p class="formula pull-back">
		<span class="fraction"><span class="enumerator">dT</span><span class="numerator">dt</span></span> =
		(1 &minus; T) &minus; |q(T,S)|T
		=<span class="stackrel">!</span> 0
		<span class="quad"></span>
		<span class="fraction"><span class="enumerator">dS</span><span class="numerator">dt</span></span> =
		&gamma;(1 &minus; S) &minus; |q(T,S)|S
		=<span class="stackrel">!</span> 0
	</p>

	<p>
		also haben <span class="formula">T</span> und <span class="formula">S</span> im Gleichgewicht die Werte:
	</p>
	<p class="formula pull-back">
		T = 
		<span class="fraction" style="width: 60px;">
			<span class="enumerator">1</span>
			<span class="numerator">1 + |q|</span>
		</span>
		<span class="quad"></span>
		S = 
		<span class="fraction" style="width: 60px;">
			<span class="enumerator">&gamma;</span>
			<span class="numerator">&gamma; + |q|</span>
		</span>
	</p>

	<p>
		und damit gilt für den Fluss:
	</p>
	<p class="formula pull-back">
		q = &alpha;
		<span class="fraction" style="width: 60px;">
			<span class="enumerator">1</span>
			<span class="numerator">1 + |q|</span>
		</span> &minus;
		&beta; <span class="fraction" style="width: 60px;">
			<span class="enumerator">&gamma;</span>
			<span class="numerator">&gamma; + |q|</span>
		</span>
	</p>	



</div>