<h2><span>Modellskizze</span></h2>

<div class="col col-100 center pull-back">
	<img src="imgs/skizze_modell.png" width="630" height="230">
</div>

<div>
	<div class="col col-50 center">
		<h3 style="color: <%= colors.gulf %>;"><span style="border-bottom: 3px solid <%= colors.gulf %>;">Golf von Mexiko</span></h3>
		<p class="formula">
			<span class="fraction"><span class="enumerator">dT<sub>1</sub></span><span class="numerator">dt</span></span>
			= k<sub>T</sub> (T<sub>01</sub>&minus;T<sub>1</sub>) + |q| (T<sub>2</sub>&minus;T<sub>1</sub>)
			<br>
			<span class="fraction"><span class="enumerator">dS<sub>1</sub></span><span class="numerator">dt</span></span>
			= k<sub>S</sub> (S<sub>01</sub> &minus; S<sub>1</sub>) + |q| (S<sub>2</sub> &minus; S<sub>1</sub>)
		</p>
		<ul class="centered" style="width: 320px;">
			<li>Temperatur ist wärmer</li>
			<li>Salzgehalt ist geringer</li>
		</ul>
	</div>

	<div class="col col-50 center">
		<h3 style="color: <%= colors.northsea %>;"><span style="border-bottom: 3px solid <%= colors.northsea %>;">Nordmeer</span></h3>
		<p class="formula">
			<span class="fraction"><span class="enumerator">dT<sub>2</sub></span><span class="numerator">dt</span></span>
			= k<sub>T</sub> (T<sub>02</sub> &minus; T<sub>2</sub>) + |q| (T<sub>1</sub> &minus; T<sub>2</sub>)
			<br>
			<span class="fraction"><span class="enumerator">dS<sub>2</sub></span><span class="numerator">dt</span></span>
			= k<sub>S</sub> (S<sub>02</sub> &minus; S<sub>2</sub>) + |q| (S<sub>1</sub> &minus; S<sub>2</sub>)
		</p>
		<ul class="centered" style="width: 300px;">
			<li>Temperatur ist kälter</li>
			<li>Salzgehalt ist höher</li>
		</ul>
	</div>
</div>
