<h2>Datenabschätzung</h2>

<div>
	<div class="col col-50 center">
		<h3 style="color: <%= colors.gulf %>;"><span style="border-bottom: 3px solid <%= colors.gulf %>;">Golf von Mexiko</span></h3>
		<table class="formula">
			<tbody>
			<tr>
				<td>T<sub>1</sub></td>
				<td>=</td>
				<td>27 Grad Celsius</td>
			</tr>
			<tr>
				<td>S<sub>1</sub></td>
				<td>=</td>
				<td>31-32 Promille</td>
			</tr>
			</tbody>
		</table>
		<img src="imgs/Wassertemp_Golf.png" height="200">
	</div>

	<div class="col col-50 center">
		<h3 style="color: <%= colors.northsea %>;"><span style="border-bottom: 3px solid <%= colors.northsea %>;">Nordmeer</span></h3>
		<table class="formula">
			<tbody>
			<tr>
				<td>T<sub>2</sub></td>
				<td>=</td>
				<td>10 Grad Celsius</td>
			</tr>
			<tr>
				<td>S<sub>2</sub></td>
				<td>=</td>
				<td>34 Promille</td>
			</tr>
			</tbody>
		</table>
		<img src="imgs/Wassertemp_Nordmeer.png" height="200">
	</div>
</div>


<div class="col col-100 center">
	<h3><span>Weitere Konstanten</span></h3>
	<div style="margin-left: auto; margin-right: auto; width: 300px;">
		<table class="formula" style="float: left; width: 100px; margin-right: 100px;">
			<tbody>
			<tr>
				<td>k<sub>T</sub></td>
				<td>=</td>
				<td>4</td>
			</tr>
			<tr>
				<td>k<sub>S</sub></td>
				<td>=</td>
				<td>4</td>
			</tr>
			</tbody>
		</table>

		<table class="formula" style="float: left; width: 100px;">
			<tbody>
			<tr>
				<td>a</td>
				<td>=</td>
				<td>1</td>
			</tr>
			<tr>
				<td>b</td>
				<td>=</td>
				<td>0.1</td>
			</tr>
			<tr>
				<td>c</td>
				<td>=</td>
				<td>0.8</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>