<h2><span>Stabilitätspunkte</span></h2>

<div class="col col-100 param-selection">
	<div class="selection" data-params='{"T01":1.2,"S01":0.8,"T02":0.8,"S02":1.2,"kT":1,"kS":1}'>
		<span>Realitätsnaher Zustand</span>
	</div>
	<div class="selection" data-params='{"T01":1.2,"S01":0.8,"T02":0.8,"S02":0.2,"kT":1,"kS":1}'>
		<span>Abgeschmolzene Arktis</span>
	</div>
	
	<div class="selection" data-params='{"T01":1.5,"S01":1.5,"T02":0.5,"S02":1}'>
		<span>&alpha; > &beta; > 0, g(0) > 0</span>
	</div>
	<div class="selection" data-params='{"T01":1.5,"S01":1.5,"T02":1,"S02":0.5}'>
		<span>&beta; > &alpha; > 0, g(0) < 0</span>
	</div>
	<div class="selection" data-params='{"T01":1.25,"S01":1.0,"T02":1.0,"S02":1.25}'>
		<span>&beta; > 0 > &alpha;, g(0) > 0</span>
	</div>
	<div class="selection" data-params='{"T01":2.0,"S01":2.0,"T02":1.0,"S02":0.5}'>
		<span>&beta; > &alpha; > 0, g(0) < 0</span>
	</div>


	<div class="selection" data-params='{"T01":2,"S01":2,"T02":0.8,"S02":0.2,"kT":1,"kS":0.2}'>
		<span>Drei Nullstellen</span>
	</div>
</div>

<div>
	<div class="col col-33 tempsalt"></div>
	<div class="col col-33 flow"></div>
	<div class="col col-33 analysis"></div>
</div>