<h2><span>Zustandstrajektorien</span></h2>

<div class="col col-100 param-selection">
	<div class="selection" data-params='{"T01":1.2,"S01":0.8,"T02":0.8,"S02":1.2,"kT":1,"kS":1,"doTrajektorien":true}'>
		<span>Realitätsnaher Zustand</span>
	</div>
	<div class="selection" data-params='{"T01":1.2,"S01":0.8,"T02":0.8,"S02":0.2,"kT":1,"kS":1,"doTrajektorien":true}'>
		<span>Abgeschmolzene Arktis</span>
	</div>
	<div class="selection" data-params='{"T01":2,"S01":2,"T02":0.8,"S02":0.2,"kT":1,"kS":0.2,"doTrajektorien":true}'>
		<span>Fall 1: Drei Nullstellen</span>
	</div>
</div>

<div>
	<div class="col col-33 tempsalt"></div>
	<div class="col col-33 flow"></div>
	<div class="col col-33 analysis"></div>
</div>